/* ---------- RESPONSIVE DESIGN ---------- */

/*
@media (max-width: 480px) {
	 div#pitch{ font-size: 18px;}
       .frame{  width:320px;}
	div#main_cont{ width: 100%; padding: 0;}
	div#cont1 { width: auto; margin-left: 30px; float: none; margin-right: 30px; }
	div#cont2{ width: 600px; float: none;}
	div#video{ margin: 1; width: 110%; }
	div#thumbs { display: none; }
	.banner_h{ margin-top: 15px; width: 300px;}
	
}
*/

/*
@media (min-width: 480px) and (max-width: 768px) {	
       div#pitch{ font-size: 18px;}
       .frame{  width:480px;}
	div#main_cont{ width: 100%; padding: 0;}
	div#cont1 { width: auto; margin-left: 30px; float: none; margin-right: 30px; }
	div#cont2{ width: 600px; float: none;}
	div#video{ margin: 1; width: 110%; }
	div#thumbs { display: none; }
	.banner_h{ margin-top: 15px; width: 500px}
	
}
*/

@media (min-width: 768px) and (max-width: 1023px) {
	
	.frame{  width:100%;}
	div#pitch{ font-size: 30px;}
	div#main_cont{ width: 100%; padding: 0;}
	div#cont1 { width: auto; margin-left: 30px; float: none; margin-right: 30px; }
	div#cont2{ width: 600px;}
	div#video{ margin: 0pt auto; width: 110%; }
	div#thumbs { display: none; }
	.banner_h{ margin-top: 25px; width: 700px;}
}


@media (min-width: 1024px) and (max-width: 1200px) {

	.frame{  width:580px;}
	div#main_cont{ width: 1024px;}
	div#cont1{ width: 280px; margin-left: 0px;}
	div#cont2{ width: 600px;}
	.banner_h{ margin-top: 25px; width: 100%;}
}

