﻿body {  
padding:0px;
margin:0px;
background: #FFFDFA; font-family: 'Armata', sans-serif; color: #222; margin: 0;
height: 100%;
overflow-y: scroll;

/* background-image: url("../unsplash_5263607dd1bfc_1.jpg");
 height: auto;
 width: 100%;
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-size: 100%;*/
}

a{ color:#1B395F;
}
a:hover { color:#999;
}

p{ #222;
}

.di{ display: inline}
.dib{display: inline-block}
.db{display: block}
.dt{ display: table;}
.fl{ float: left}
.fr{ float: right}
.form_employe{
	z-index: 1000;

}

fieldset{ border: none;}

.background{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;     
	background-repeat:no-repeat;
    background-size: 1500px;
     -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -ms-filter: blur(6px);
  -o-filter: blur(6px);
  filter: blur(6px);
 filter: url(../css/blur.svg#blur);
 filter:progid:DXImageTransform.Microsoft.blur(pixelradius=3, enabled='true'); 
 overflow: hidden
}

div.top_cont{ 
width: 100%;
height: 100%;
background: #FBFBFB;
overflow: hidden;
background-image: url("../img/puente.jpg");  
background-repeat: no-repeat;
background-size: 100%;
position: fixed;
top: 0;
}

div#top_bar{ 
position: fixed;
z-index: 20;
left: 0;
top: 0px;
width: 100%;
height: 174px;
background: rgba(252,252,252,.85);
    
}

div#main_cont{ 
 margin: 0pt auto; 
 height: 100%;
}
div#cont{
	margin: 0pt auto;  text-align: center; font-size: 30px; position: absolute;
}

div#left_cont{
	background: none;
	width: 300px;
	margin-top: 10%;
}

div#right_cont {
background: rgba(252,252,252,.6);
width: 530px;
margin-top: 10%;
height: 638px;
padding-left: 10px;
}

div#pitch{
	color: white;
	font-size: 16px;
}


div#about{
height: 100%;
width: 100%;
background-color: white;
margin-top: 60px;
}


div#wrap{
height: 300%;
width: 100%;
position: relative;
}

.feature{
width: 250px;
/*height: 200px;*/
text-align: center;
font-size: 16px;
float:left;
font-weight: lighter;
}

.medio{
	width: 960px; 
	margin: 0pt auto; 
	}

div#ong{
	margin-top: 60px;
	width: 100%;
	height: 400px;
	background: #E4E4E4; 

}
	
footer{ 
	width: 100%;
	height: 500px;
	overflow-y: hidden;
	background: white;
	 }


div#logo{ float: left; margin-left: 100px;
}
div#nav{ float: right;  margin-right: 30px; margin-top: 20px;  display: inline;
}
div#label{ float: right;  margin-right: 60px; margin-top: 15px; display: none;
}

div#logo img{ height: 80px; margin-top: 20px; }

div#cont1{  width:300px; height: auto;  float: left; margin-left: -262px;; 
}
div#cont2{  width: 800px; height: auto; float: right; margin-right: 150px;
}
div#pitch{ 
display: inline-block;
font-size: 30px;
font-weight: lighter;
margin-top: 0px; 
}
div#cont_l{ float: left;
}
div#cont_r{ float:right; width: 15px; margin-left: 20px;
}
div#bar{ width: 62px; height: 300px; margin-right:20px;  float: left; margin-top: 10px; padding: 10px 5px 0 5px;
}
div#down_bar{ height: 200px; background: red;
}

input{
width: 180px;
height: 22px;
font-size: 16px;
background-color: #ffffff;
border: 1px solid #cccccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
padding: 4px 6px;
font-size: 16px;
line-height: 20px;
color: #555555;
vertical-align: middle;
}


.link{ 
font-size: 16px;
font-family: sans-serif;
font-weight: 100;
cursor: pointer;
color: #000;
display: inline;
text-decoration: none;
margin-left: 40px;
}




div#video{ width: 600px; float: right;
}
.frame{ border: 5px dashed white; height:460px; width:610px; float: left; background-image: url("../img/faps.png"); background-size: 60%;
background-repeat: no-repeat; background-position: 50%;
}


.di{ display: inline;}
.db{ display: block;}
.dib{ display: inline-block;}
.fl{ float: left;}
.fr{ float: right;}


.tag{ 
display: inline-block;
color: #acb3bc;
font-size: 14px;
text-decoration: none;
margin-right: 5px;
cursor: pointer;
}
.tag:hover {
color: #8d97a2;
}

.close{ 
 font-size: 15px;   
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px; 
 background: #fff;
 height: 30px;
 width: 30px;
 float: right;
 display: inline;
}

div#signpop, #logpop{
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

.pop-up input{
	width: 300px;
	height: 40px;
	margin: 0px auto 0px 0px;
}

.pop-up div{
	 width:340px; 
	 height:340px;
     margin: 100px auto;
     background-color: rgba(238, 238, 238, 0.9);
     padding:15px;
     text-align:center;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px; 
	color: #222;
}

.pop-up p{font-size: 14px; }
.poptag{ height: 40px; margin-top: 10px; margin-bottom: 10px;
}
.chk input{ display: inline; width: auto; margin-top: 22px;
}

.userphp body{ background: none;}
.userphp fieldset{ border: none;}
.userphp input{ width: 300px; height: 40px; }

.desc{
font-size: 18px;
text-align: center;
color: #222;
padding: 28px;
}

.label{
font-size: 22px;
font-weight: bold;
color: #FFF;
margin-bottom: 20px;
text-align: center;
position: absolute;
z-index: 90;
width: 100%;
margin-top: 80px;
}

.logos{
display: inline-block;
margin-right: 15px;
width: 300px;
vertical-align: middle;
}

#logotec{
width: 300px;
}

input, input[type="email"] {
border: 0;
width: 280px;
height: 30px;
background: #F1F1F1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-right: 10;
font-size: 22px;
line-height: 27px;
padding: 5px;
margin: 5px;
}



.linespc{
margin: -12px 0px 10px 0px;
border-top: solid 1px #969696;
width: 92%;
}

div#video{
margin: 0pt auto;
width: 640px;
height: 340px;
border: 5px rgb(207, 237, 255) dashed;	
}




/* ===================  BUTTONS ==================== */

#lgnbtn {
padding: 0;
text-align: center;
display: table;
text-decoration: none;
font-size: 18px;
font-weight: bold;
line-height: 50px;
height: 64px;
cursor: pointer;
background: #39BBBE;
color: white;
}

.lgnbtn {
padding: 0;
text-align: center;
display: inline-block;
text-decoration: none;
font-size: 18px;
font-weight: bold;
line-height: 50px;
height: 64px;
cursor: pointer;
background: #39BBBE;
color: white;
}

.btn_index{
display: table;	
padding: 10px 0px 0px 0px;
text-align: center;
vertical-align:middle;
display: table;
text-decoration: none;
font-size: 18px;
font-weight: bold;
line-height: 50px;
height: 60px;
cursor: pointer;
background: #39BBBE;
color: white;
width: 280px;
margin: 10px 0px 10px 0px;

}

#lgnbtn:hover{
background: #26A5A8;	
}

#lginButton{
padding: 5px;
text-align: center;
vertical-align: middle;
display: table;
text-decoration: none;
font-size: 18px;
font-weight: bold;
line-height: 30px;
height: 30px;
cursor: pointer;
background: #39BBBE;
color: white;
width: 130px;
margin: 0px;
}

/* ============================= PORTAL  ======================================== */

div#container{
height: 100% ;
width: 100% ;
}

div#cont_left{
height: 100%;
width: 65%;
float: left;
}

.cont_top{
height: 62%;
padding: 5px;
}

.scroll-y{
overflow-y: scroll;
}

div#cont_title{
height: auto;
padding: 10px 0px 10px 30px;
line-height: 0px;	
margin-bottom: 30px;
}

div#map-canvas{
width: 90%;
height: 65%;
margin: auto;
background: white;
box-shadow: 0px 0px 30px -6px #777;
}

div#cont_left_down{
height: 38%;
}

div#cont_news{
}


div#cont_right_down{
	padding: 5px;
}

div#cont_right{
overflow:auto;
box-shadow: 0px 0px 30px -6px #777;
height: 100%;
width: 35%;
float: left;
}

.news{
background: blue;
width: 80%;
height: 20%;
margin: auto;	
}

.jobs{
width: 100%;
height: auto;
margin-top:20px;
margin-bottom: 20px;
}

.job_p{
height: auto;
padding: 1px 0px 10px 15px;
}

.portal_btn{
display: table;
padding: 10px 0px 0px 0px;
text-align: center;
vertical-align: middle;
display: table;
text-decoration: none;
font-size: 18px;
font-weight: bold;
height: 35px;
width: 200px;
cursor: pointer;
background: #39BBBE;
color: white;
margin: 20px 10px 5px 0px;
}

.portal_btn:hover{
color:white;
background: #1FA0A3;
}


div#{
	
}

div#{
	
}


