<html>
    
    <head>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv7YIRLr8_IXijZVNAjXUW6owOiStBi8Q&sensor=true">
        </script>
        <script src="/static/js/map.js"></script> 
    </head>
    
    
    <body>
        
        <h1>{{ candidato.nombre }} {{candidato.apellidos}}</h1>
        <P>Llave Unica: </P><h2>{{candidato.uniqueID}}</h2><br>
        <p>Fecha de Registro: {{candidato.registro}}</p>
        <h3>{{candidato.origen}}</h3><br>
        <p>{{candidato.direccion}}--- Localizacion Actual</p><br>
        <p>{{candidato.telefono}}</p><br>
        <p>{{candidato.correo}}</p><br>
    
    <div>
        {% for proyecto in proyectos%}
            {{proyecto.nombre}} {{proyecto.pais}}<br>
            Se trabajara en: {{proyecto.direccionATrabajar}}, {{ proyecto.estado}} {{proyecto.ciudad}}<br>
            Nombre del empelador: {{proyecto.empleador}}<br>
            El proyecto consiste en:{{ proyecto.descripcion}}<br>
            <a href="/inscripcion?proyecto={{proyecto.key.id()}}&candidato={{candidato.uniqueID}}">Enrolarse</a>
        {% endfor %}
        
        
    </div>
    
    </body>
    
    
    
</html>