
{% extends 'proyectForm.html' %}

{% block paises %}

<datalist id="paises">
    <option value="Argentina">
    <option value="Bolivia">
    <option value="Chile">
    <option value="Colombia">
    <option value="Costa Rica">
    <option value="Cuba">
    <option value="Ecuador">
    <option value="El Salvador">
    <option value="Guatemala">
    <option value="Honduras">
    <option value="Mexico">
    <option value="Nicaragua">
    <option value="Panama">
    <option value="Paraguay">
    <option value="Peru">
    <option value="Puerto Rico">
    <option value="Republica Dominicana">
    <option value="Uruguay">
    <option value="Venezuela">
</datalist>

<datalist id="estados">
    <option value="Aguascalientes">
    <option value="Baja California">
    <option value="Baja California Sur">
    <option value="Campeche">
    <option value="Chiapas">
    <option value="Chihuahua">
    <option value="Coahuila">
    <option value="Colima">
    <option value="Distrito Federal">
    <option value="Durango">
    <option value="Estado de Mexico">
    <option value="Guanajuato">
    <option value="Guerrero">
    <option value="Hidalgo">
    <option value="Jalisco">
    <option value="Michoacan">
    <option value="Morelos">
    <option value="Nayarit">
    <option value="Nuevo Leon">
    <option value="Oaxaca">
    <option value="Puebla">
    <option value="Queretaro">
    <option value="Quintana Roo">
    <option value="San Luis Potosi">
    <option value="Sinaloa">
    <option value="Sonora">
    <option value="Tabasco">
    <option value="Tamaulipas">
    <option value="Tlaxcala">
    <option value="Veracruz">
    <option value="Yucatan">        
    <option value="Zacatecas">  
</datalist>

{% endblock %}