<form method="post" action="/empleador">
                
    <div id="" class="" style="width: 800px">
        <fieldset>
            <legend>Empleador</legend>                    
            <label>Nombre de Empresa</label>
            <input type="" id="" name="nombreEmpresa" ><br>
            <label>RFC</label>
            <input type="" id="" name="rfc" ><br>
            <label>Nombre Encargado</label>
            <input type="" id="" name="nombre" ><br>
            <label>Apellidos</label>
            <input type="" id="" name="apellidos" ><br>
            <label>Tel</label>
            <input type="" id="" name="tel" ><br>
            <label>Correo Electronico</label>
            <input type="" id="" name="correo" ><br>
            <label>Direccion</label>
            <input type="" id="" name="direccion" ><br>
            <input type="submit" value="Ingresar">
        </filedset>
    </div>   
</form>