<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>InnerJob - Empleado</title>
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta content="" name="InnerJob inmigration migration migracion inmigracion">
  <meta name="viewport" content="width=device-width; initial-scale=1.0" />
  
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	
	<link href="http://fonts.googleapis.com/css?family=Armata&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="css/jquery.pageslide.css" />
	<script src="js/lib/jquery-1.7.1.min.js"></script>

</head>


<body>

	<div id="container" class=""> <!--  -->
		<div id="emp_cont_left" class="di fl"> <!--  -->	
			<div id="cont_left_a" class="dib"> <!--   -->
				
				<div id="data" class="cont_data">
					<h2>{{candidato.nombre}} {{candidato.apellidos}}</h2>
					<h3># {{candidato.uniqueID}}</h3>
				</div>
				
				<div id="project" class="cont_data">
					<h2>Proyecto actual</h2>
				</div>
				
				<div id="map" class="">
					xxx
				</div>
				
			</div> <!-- END  -->
			
			<div id="cont_left_b" class="dib"> <!--   -->
				<h1>Noticias</h1>
				<div class="cont_data">
					<h2>Noticia 1</h2>
					<h3>kdskdasd sd sd asddasd s d asd as d as dasd</h3>
				</div>
			</div> <!-- END  -->	
		</div> <!-- END  -->	
		
		<div id="emp_cont_right" class="di fr"> <!--   -->	
			<div id="cont_right_a" class="dib"> <!--   -->
				<h1>Trabajos disponibles</h1>
					{% for proyecto in proyectos %}
					<div  class="cont_job">
					  <h3>{{proyecto.nombre}} - {{proyecto.pais}}</h3>
					  <p>{{proyecto.descripcion}}</p><br>
					  <p>Empleador acargo: {{proyecto.empleador}}</p><br>
					  <a href="/inscripcion?proyecto={{proyecto.key.id()}}&candidato={{candidato.uniqueID}}">Enrolarse</a>
					</div>
					{% endfor %}
			</div> <!-- END  -->
			
			<div id="cont_right_b" class="dib"> <!--   -->	
				<div id="" class="">
					<h1>ONG</h1>
					<p>sdfsdfsdf</p><br>
					<p>fsdfsdfsd</p><br>
				</div>
			</div> <!-- END  -->	
		</div> <!-- END  -->
	</div>
<script>
  
</script>

</body>
</html>
