<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>InnerJob</title>
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta content="" name="InnerJob inmigration migration migracion inmigracion">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link href="/static/css/foundation.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Armata&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fullPage.css" />
	
	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
	
	<script src="/static/js/lib/jquery-1.7.1.min.js"></script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>	
	
	<link rel="stylesheet" href="/static/css/style.css">
	
	<script>
	  document.write('<script src=/static/js/vendor/'
	    + ('__proto__' in {} ? 'zepto' : 'jquery')
	    + '.js><\/script>');
	</script>
	<script src="/static/js/vendor/custom.modernizr.js" ></script>
	<script src="/static/js/vendor/zepto.js"></script>
	<script src="/static/js/vendor/jquery.slimscroll.min.js"></script>
	<script src="/static/js/foundation.min.js" type="text/javascript" ></script>
	
	<script type="text/javascript" src="/static/js/jquery.fullPage.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var pepe = $.fn.fullpage({
				slidesColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
				anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
				menu: '#menu'
			});
			
		});
	</script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv7YIRLr8_IXijZVNAjXUW6owOiStBi8Q&sensor=true">
        </script>
	
	<script src="/static/js/map.js"></script>
</head>

	<body>
		<div id="top_bar" style="height: 60px">
			<div class="medio" >
				<div style="height: 50px; float:left;"  >
			    	<p style="font-size: 28px; margin-top: 8px;">InnerJob<img src="/static/img/logo.png" style="width:50px; height:50px;float:left"></p> <!-- -->
			    	</a>
			    </div>	
			      
				<div id="nav">   	
					<span style="display: block;">
					    
					    <a href=""  class="link" >Home</a>	
					    <a  href="#firstPage"   class="link" ><a data-reveal-id="contactForm" >Contacto</a></a>
					    <a href="#" data-reveal-id="ingles"  class="link" >English</a>
					    {% if login %}
					    <a href="{{link}}" class="link">Portal empleadores</a>
					    
					    {% else %}
					    <p class="link">| {{user}}</p><a href="{{link}}" class="link"> Cerrar Sesi&oacuten</a>
					    {% endif %}
					    
					    
					</span>		 	
				</div>
				
				<div id="label">
			    <button type="button" class="bar_btn bh1 di">Settings</button>
			    </div>
		    </div> 
		</div>
	
	<div class="top_cont" > 
	</div> <!-- END top_cont-->	
	
<div id="wrap" class="medio"> <!-- About -->
	<div class="section" id="section0">
	  	<div id="main_cont" class="medio"> <!-- MAIN CONTENT  -->
				<div id="left_cont" class="dib"> <!-- LEFT CONTENT -->
					<div id="pitch" class="db fl">
						<p>NO te vayas del país, te ayudamos a encontrar un empleo temporal. Quedate.</p>
					</div> <!-- END PITCH-->	
					
					<div id="btns" class="db">
						<span class="dt fl">
						<input id="uniqueid"  onchange="loggin('uniqueid')" placeholder="Clave Unica">
						<a  href=""  id="lginButton"class="dt btn_index fl button">Entra aqui trabajador</a>
						</span>
						<a  data-reveal-id="empleadorForm" href="#" class="dt btn_index fl button">Registrate empleador</a>
						<a data-reveal-id="ongForm" href="#" class="dt btn_index fl button">ONG</a>						
					</div>
	  			</div> <!-- END LEFT CONTENT-->	
	
		<div id="right_cont" class="dib fr"> <!-- RIGHT CONTENT -->
		<div id="form_employe" class=""> <!-- CONTENT -->
			<form method="post" action="/candidato">
			    <fieldset>
					<h2>Si buscas trabajo, registrate.</h2>
						<div class="linespc"> </div>
							<p class="di">Introduce tu nombre completo:</p>
								<br>
								<input type="" name="nombre" placeholder="Nombre(s)">
								<input type="" name="apellidos" placeholder="Apellidos">
								<br>
							<p class="di">Origen:</p>
								<br>
								<input type="" name="origen" placeholder="Origen">
								<br>
							<p class="di">Introduzca una direcci&oacuten:</p>
								<br>
							<input type="" name="direccion" placeholder="Direccion">
								<br>
							<p class="di">Introduzca un telefono de contacto (si cuentas con uno):</p>
							<input type="" name="telefono" placeholder="Telefono">
								<br>
							<p class="di">Introduzca un correo electrónico (si cuenta con uno):</p>
							<input type="email" name="correo" placeholder="Correo">
								<br>
							<input type="submit" id="lgnbtn" class="bar_btn bh1 button" value="Registrarse" />
							<input name="latlon" id=latlon hidden="true">
 
			    </fieldset> 
			</form> 
		</div> <!-- END  CONTENT -->
	  </div> <!-- END RIGHT CONTENT -->

		   <div id="logpop" class="pop-up pu2"> <!-- MODAL WINDOW LOGIN POP-UP -->
				<span class="xcl" id="xcl1">x</span>	
					<h5>Login</h5>
						<form action="login_submit.php" method="post">
							<span class="db">
								<fieldset>
								    <input type="text" id="name" name="name" class="" autofocus placeholder="Username" maxlength="32" /> 
								    <input type="text" id="password" name="password" class="" autofocus placeholder="Password" maxlength="32" /> 			 	
									<input type="submit" id="lgnbtn" class="bar_btn bh1" value="Login" />
										<span style="color: white;" style="display: block;">
										    <input type="checkbox" class="chk" style="display: inline; width: auto; margin-top: 22px;"/>
										    <p style="display: inline;">Remember me</p>
									    </span>
							   		<p class="db"> <a href="#">Forgot your password?</a></p>
					    		</fieldset> 
				   			</span>
				    	</form> 
		    </div>
	  	</div> <!-- END main_cont-->
	</div> <!--END section0-->
	<div class="section" id="section1">
		<div id="about" class="medio dib"> <!-- About -->
			<div class="slide">
				<div class="info" name="info" style="padding:0 15%" >
					
					<div  class="feature dib" style="width:30%;margin:0 10px; float: left; backgroud-color:red">
						<h2>Hechos</h2>
							<p class="">Cada día, cientos de personas salen de sus hogares en busca de oportunidades laborale mediante la migración ilegal,
									 enfrentandose a numerosos peligros. Muchas de ellas encuentran la muerte en el camino.
									 
							</p>
							
					</div>
	
					<div  class="feature dib" style="width:30%;margin:0 10px; float: left; backgroud-color:red">
						<h2>Cómo</h2>
							<p class="r">En RootJob buscamos unir esfuerzos con empleadores y Organizaciones para canalizar migrantes en potencia
									a un empleo en su localidad o nación. </p>
					</div>	
					
					
					<div class="feature dib" style="width:30%;margin:0 10px; float: left; backgroud-color:red">
						<h2>Raíces</h2>
						<p class="r">Sabemos que lo más importante para una persona es estar lo más cerca posible de sus seres queridos.
							Quedarse en su ciudad, estado o país, con su cultura y sus raices.
						 </p>
					</div>
					 
				</div>
			</div> <!-- END div del acerca-->
			<div class="slide"> <!--div del video-->
				<div id="">
					<div id="play"  class="play" style="position:absolute; top: 15%; left: 62%;width:50em; height:18em;" >
					  
					  <iframe width="853" height="480" src="//www.youtube.com/embed/Qp_ngNOY3Ek" frameborder="0" allowfullscreen></iframe>
					
					
					
					</div>	
						<!--	
							<iframe  width="853" height="360" src="" frameborder="0" allowfullscreen>
							</iframe>
						-->
				</div>
			</div> <!--fin del div del video-->
		</div>  <!-- END ABOUT -->
	</div> <!-- END section1-->	
	<div class="section" id="section2">
		<div style="height: 100%;">
		<div id="ong" class="dib">
		  <div style=" width: 80%; margin: auto; ">
				      <div style="clear: both; width: 200px; margin: auto">
					<h2>Developers:</h2>
					
				      </div>
				      <div style=" width: 25%; height: 100%;  float: left;text-align: center">
					<img src="/static/img/CarlaPerfil.jpg" alt="Carla Prieto" style="width: 80%; height:65%; margin-top:30px"><br>
					  Carla Prieto
				      </div>
				      <div style=" width: 25%; height: 100%; float: left; text-align: center" >
					<img src="/static/img/SamuelPerfil.jpg" alt="Samuel Blanco"style="width: 80%; height:65%; margin-top:30px">
					  <p>Samuel Blanco</p>
					
				      </div>
				      <div style=" width: 25%; height: 100%;  float: left;text-align: center" >
					<img src="/static/img/BossPerfil.jpg" alt="Ricardo Escandon" style="width: 80%; height:65%; margin-top:30px">
					  Ricardo Escandon
				      </div>
				      <div style=" width: 25%; height: 100%; float: left;text-align: center">
					<img src="/static/img/ErickPerfil.jpg" alt="Erick Alcantar"  style="width: 80%; height:65%;margin-top:30px "><br>
					  Erick Alcantar
				      </div>
				    </div>
			<div class="medio">
			  <div class="fl"> 
				    
				</div>	
			</div>
		</div>
		
		<footer class="dib">
		  <div style="width: 80%; margin: auto">
		    
		    <img src="/static/img/teclogo.png" id="logotec" class="logos" alt=""/>
					<img src="/static/img/ad.png" class="logos" alt=""/>
					<img src="/static/img/logo.png" class="logos" style="width:100px; height:100px"alt=""/><hr>
					Proyecto InnerJobOnline©. 2013 Tecnologico de Monterrey Campus Chihuahua
		  </div>
		</footer>
		 </div>
	</div> <!-- END section 2-->
	</div>  <!-- END WRAP -->
			
	
<!-- Forms Area -->	
	<div id="ongForm" class="reveal-modal small">
            <form method="post" action="/ong">
                <div id="" class="" style="width: 800px">
                    <fieldset>
                        <legend>ONG</legend>
                        <label>Nombre:</label>
                        <input type="" id="" name="nombre" required="true"><br>
                        <label>Correo:</label>
                        <input type="email" id="" value="{% if user %}{{user.email()}}{% endif %}" name="correo" required="true"><br>
                        <label>Telefono:</label>
                        <input type="" id="" name="tel" required="true"><br>
                        <label>Cede de la ong:</label>
                        <input list="paises" type="" id="" name="cede" required="true"><br>
                        <label>Direccion</label>
                        <input type="" id="" name="direccion" required="true"><br>
                        <label>Direccion de la Pagina Web de la organizacion:</label>
                        <input type="" id="" name="url" required="true"><br>
                        <button type="submit" >Enviar solicitud</button>
                    </fieldset>
                </div>   
            </form>
	     <a class="close-reveal-modal">&#215;</a>
        </div>
	
	<div id="empleadorForm" class="reveal-modal small" >
	  <form method="post" action="/empleador">  
	    <div  id="" class="" >
		<fieldset>
		    <legend>Empleador</legend>                    
		    <label>Nombre de Empresa</label>
		    <input type="" id="" name="nombreEmpresa" required="true"><br>
		    <label>RFC</label>
		    <input type="" id="" name="rfc" required="true"><br>
		    <label>Nombre Encargado</label>
		    <input type="" id="" name="nombre" required="true"><br>
		    <label>Apellidos</label>
		    <input type="" id="" name="apellidos" required="true"><br>
		    <label>Tel</label>
		    <input type="" id="" name="tel" required="true"><br>
		    <label>Correo Electronico (Actualmente solo se aceptan correos de Gmail)</label>
		    <input type="" id="" name="correo" required="true" value="{% if user %}{{user.email()}}{% endif %}"><br>
		    <label>Direccion</label>
		    <input type="" id="" name="direccion" required="true"><br>
		    <button type="submit" >Ingresar</button>
		  </filedset>
		     <a class="close-reveal-modal">&#215;</a>

	      </div>   
	  </form>
	  
	  
	  
	</div>
	<div id="ingles" class="reveal-modal small">
	  <p>
	    Versi&oacuten a&uacuten en desarroll&oacute<br>
	    
	    Favor de estar en contacto para futuras actualizaciones.
	  </p>
	  <a class="close-reveal-modal">&#215;</a>

	</div>
	<div id="contactForm" class="reveal-modal medium" >
		<form >
		    <div >
				
		      <legend>Contacto</legend>
		      <p>Olvidaste tu clave unica?,<wbr> quieres contactarnos?<wbr> o tienes sugerencias? porfavor rellena esta forma.</p>
		      <label>Nombre Completo</label>
		      <input type="" id="" name="nombreCompleto" required="true" ><br>
		      <label>Correo (No obligatorio)</label>
		      <input type="" id="" name="correo" ><br>
		      <label>Telefono</label>
		      <input type="" id="" name="telefono" required="true" ><br>
		      <label>Comentarios</label><br>
		      <textarea  name="comments" maxlength="1000" required="true" cols="15" rows="6"></textarea><br>
		      <button type="submit" class="button " >Enviar</button> 
		    </div>   
		</form>
		<a class="close-reveal-modal">&#215;</a>
	  </div>
	{% if mensaje %}
	<div id="mensaje" class="reveal-modal" >
	  	  <a href="{% if link %}{{link}} {% endif %}/" style=" color: #333BBE; float: right" >Volver</a>

	  {{mensaje}}
	  <br>
	</div>
	{% endif %}
	<div id="map-canvas" hidden="true"></div>
	
<!-- End of forms area -->	
<script>
  
  
  function loggin( id ) {
    x = document.getElementById(id).value;
    logginButton = document.getElementById('lginButton').href = "/portal/"+x;
    
  }
  $(document).foundation();
  {% if mensaje %}
     $(document).ready(function() {
    setTimeout(function(){
      $("#mensaje").foundation('reveal', 'open');
    }, 500);
  });
  {% endif %}
</script>

</body>
</html>
