<form method="post" action="/ong">
    <div id="" class="" style="width: 800px">
        <fieldset>
            <legend>Ong</legend>
            <label>nombre</label>
            <input type="" id="" name="nombre" ><br>
            <label>correo</label>
            <input type="email" id="" name="correo" ><br>
            <label>Telefono</label>
            <input type="" id="" name="tel" ><br>
            <label>Cede de la ong</label>
            <input list="paises" type="" id="" name="cede" ><br>
            <label>Direccion</label>
            <input type="" id="" name="direccion" ><br>
            <label>Direccion de la Pagina Web de la organizacion:</label>
            <input type="" id="" name="url" ><br>
            <input type="submit" value="Ingresar">
        </fieldset>
    </div>   
</form>