<html>
    
    <head>
        <style>
            body{
                margin:0;
                padding: 0;
            }
            
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv7YIRLr8_IXijZVNAjXUW6owOiStBi8Q&sensor=true">
        </script>
        <script src="/static/js/map.js"></script> 
    	 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link href="/static/css/foundation.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Armata&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fullPage.css" />
	
	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
	
	<script src="/static/js/lib/jquery-1.7.1.min.js"></script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>	
	
	<link rel="stylesheet" href="/static/css/style.css">
	
	<script>
	  document.write('<script src=/static/js/vendor/'
	    + ('__proto__' in {} ? 'zepto' : 'jquery')
	    + '.js><\/script>');
	</script>
	<script src="/static/js/vendor/custom.modernizr.js" ></script>
	<script src="/static/js/zepto.js"></script>
	<script src="/static/js/vendor/jquery.slimscroll.min.js"></script>
	<script src="/static/js/foundation.min.js" type="text/javascript" ></script>
	
	<script type="text/javascript" src="/static/js/jquery.fullPage.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var pepe = $.fn.fullpage({
				slidesColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
				anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
				menu: '#menu'
			});
			
		});
	</script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv7YIRLr8_IXijZVNAjXUW6owOiStBi8Q&sensor=true">
        </script>
	
	<script src="/static/js/map.js"></script>
    	<link rel="stylesheet" href="/static/css/style.css">
    </head>
    
    <body>
        <!--
        <div id="top_bar" style="height: 60px">
			<div class="medio" >
				<div style="height: 50px; float:left;"  >
			    	<p style="font-size: 28px; margin-top: 12px;">InnerJob</p> <!-- -->
			    	<!--<a href="#"><img src="img/logo.png"></a>
			    	
			    </div>	
			      
				<div id="nav">   	
					<span style="display: block;">
					    <a href="/"  class="link" >Home</a>	
					    <a href="#" class="link" >Contacto</a>
					    <a href="#" class="link" >English</a>
					    <a id="loginbtn" class="link">Login</a>
					</span>		 	
				</div>
				
				<div id="label">
			    	<button type="button" class="bar_btn bh1 di">Settings</button>
				</div>
		    </div> 
		</div> -->
            <div id="top_bar" style="height: 60px">
			<div class="medio" >
				<div style="height: 50px; float:left;"  >
			    	<p style="font-size: 28px; margin-top: 12px;">InnerJob</p> <!-- -->
			    	<!--<a href="#"><img src="img/logo.png"></a>
			    	-->
			    </div>	
			      
				<div id="nav">   	
					<span style="display: block;">
					    
					    <a href="/"  class="link" >Home</a>	
					    <a  href=""   class="link" ><a data-reveal-id="contactForm" >Contacto</a></a>
					    <a href="#" data-reveal-id="ingles"  class="link" >English</a>
					    {% if login %}
					    <a href="/" class="link">Iniciar Sesi&oacuten</a>
					    
					    {% else %}
					    <p class="link">| {{user}}</p><a href="/" class="link"> Cerrar Sesi&oacuten</a>
					    {% endif %}
					    
					    
					</span>		 	
				</div>
				
				<div id="label">
			    <button type="button" class="bar_btn bh1 di">Settings</button>
			    </div>
		    </div> 
		</div>
        <br>
        <br>
        <div id="container">
            <div id="cont_left">
                <div class="cont_top">
                        <div id="cont_title">
                            <h2 style="line-height: 20px; color: #33BBBE">{{candidato.nombre}} {{candidato.apellidos}}</h2>
                            <div class="linespc"> </div>
                            <p>de: {{candidato.origen}}</p>
                            <p>Clave Unica:</p> <p style=" font-weight: bold ">{{candidato.uniqueID}}</p>
                        </div>
                        <div id="map-canvas">
                        
                        </div>          
                </div>
                
                <div id="cont_left_down">
                	 <div id="cont_news">
	                    <!--
                            <div class="news">
	                    	xxxxx
	                    </div>	-->
                    </div>
                </div>
            </div>
            
            
            <div id="cont_right">
            	 <div class="cont_top scroll-y">
                    <h3>Proyectos a los que puedes aplicar:</h3><hr>
                    {% for proyecto in proyectos %}
                    <div class="jobs">
                    	<div class="job_p">
                         
                            <span onclick="addLocation(),setMarker( map, {{proyecto.geoLocation}} ), calcRoute({{proyecto.geoLocation}})"><h3>{{proyecto.titulo}}</h3></span>
	                        Se trabajara en: {{proyecto.direccionATrabajar}},{{ proyecto.estado}} 
	                        <br> {{proyecto.ciudad}}<br>
	                        Nombre del empleador: {{proyecto.empleador}}<br>
	                        El proyecto consiste en:{{ proyecto.descripcion}}<br>
                                {% if candidato.uniqueID in proyecto.candidatos %}
                                    {% for candi in proyecto.candidatos %}
                                        {% if candi == candidato.uniqueID  %}
                                            <p style="color:green; font-weight: bold">Ya aplicaste a Este proyecto</p>    
                                        
                                        {% endif %}
                                    {% endfor %}
                                {% else %}    
                                <a class="portal_btn" href="/inscripcion?proyecto={{proyecto.key.id()}}&candidato={{candidato.uniqueID}}">Aplicar al proyecto</a>

                                {% endif %}
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            	
                <div id="cont_right_down" class="scroll-y">
                    <h3>Organizaciones cercas de ti:</h3><hr>
                   {% for ong in ongs %}
                    <div>
                        <h3>{{ong.nombre}}</h3>
                        <p>{{ong.telefono}} - {{ong.cede}}</p><br>
                        <p>{{ong.direccion}} - <a href="http://{{ong.webUrl}}">{{ong.webUrl}}</a></p>                      
                   		<div class="linespc"> </div>
                    </div>
                   {% endfor %}      
                </div>
            </div>
        </div>
            <!-- Forms Area -->	
	<div id="ongForm" class="reveal-modal small">
            <form method="post" action="/ong">
                <div id="" class="" style="width: 800px">
                    <fieldset>
                        <legend>ONG</legend>
                        <label>Nombre:</label>
                        <input type="" id="" name="nombre" required="true"><br>
                        <label>Correo:</label>
                        <input type="email" id="" value="{% if user %}{{user.email()}}{% endif %}" name="correo" required="true"><br>
                        <label>Telefono:</label>
                        <input type="" id="" name="tel" required="true"><br>
                        <label>Cede de la ong:</label>
                        <input list="paises" type="" id="" name="cede" required="true"><br>
                        <label>Direccion</label>
                        <input type="" id="" name="direccion" required="true"><br>
                        <label>Direccion de la Pagina Web de la organizacion:</label>
                        <input type="" id="" name="url" required="true"><br>
                        <button type="submit" >Ingresar</button>
                    </fieldset>
                </div>   
            </form>
	     <a class="close-reveal-modal">&#215;</a>
        </div>
	
	<div id="empleadorForm" class="reveal-modal small" >
	  <form method="post" action="/empleador">  
	    <div  id="" class="" >
		<fieldset>
		    <legend>Empleador</legend>                    
		    <label>Nombre de Empresa</label>
		    <input type="" id="" name="nombreEmpresa" required="true"><br>
		    <label>RFC</label>
		    <input type="" id="" name="rfc" required="true"><br>
		    <label>Nombre Encargado</label>
		    <input type="" id="" name="nombre" required="true"><br>
		    <label>Apellidos</label>
		    <input type="" id="" name="apellidos" required="true"><br>
		    <label>Tel</label>
		    <input type="" id="" name="tel" required="true"><br>
		    <label>Correo Electronico</label>
		    <input type="" id="" name="correo" required="true" value="{% if user %}{{user.email()}}{% endif %}"><br>
		    <label>Direccion</label>
		    <input type="" id="" name="direccion" required="true"><br>
		    <button type="submit" >Ingresar</button>
		  </filedset>
		     <a class="close-reveal-modal">&#215;</a>

	      </div>   
	  </form>
	  
	  
	  
	</div>
	<div id="ingles" class="reveal-modal small">
	  <p>
	    Versi&oacuten a&uacuten en desarroll&oacute<br>
	    
	    Favor de estar en contacto para futuras actualizaciones.
	  </p>
	  <a class="close-reveal-modal">&#215;</a>

	</div>
	<div id="contactForm" class="reveal-modal medium" >
		<form >
		    <div >
				
		      <legend>Contacto</legend>
		      <p>Olvidaste tu clave unica?,<wbr> quieres contactarnos?<wbr> o tienes sugerencias? porfavor rellena esta forma.</p>
		      <label>Nombre Completo</label>
		      <input type="" id="" name="nombreCompleto" required="true" ><br>
		      <label>Correo (No obligatorio)</label>
		      <input type="" id="" name="correo" ><br>
		      <label>Telefono</label>
		      <input type="" id="" name="telefono" required="true" ><br>
		      <label>Comentarios</label><br>
		      <textarea  name="comments" maxlength="1000" required="true" cols="15" rows="6"></textarea><br>
		      <button type="submit" class="button " >Enviar</button> 
		    </div>   
		</form>
		<a class="close-reveal-modal">&#215;</a>
	  </div>
	
	
	<div id="map-canvas" hidden="true"></div>
	
<!-- End of forms area -->
            
            
            
        
        
                <textarea id ="proyectos" style=" display: none" >{% for proyecto in proyectos %}[{{proyecto.titulo}},{{proyecto.geoLocation}}]:{% endfor %}</textarea>
    <script>
  
  
    function loggin( id ) {
      x = document.getElementById(id).value;
      logginButton = document.getElementById('lginButton').href = "/portal/"+x;
      
    }
    $(document).foundation();
    
  </script>
        
    </body>
    
</html>