<html>
    
    <head>
        <style>
            body{
                margin:0;
                padding: 0;
            }
            
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv7YIRLr8_IXijZVNAjXUW6owOiStBi8Q&sensor=true">
        </script>
        <script src="/static/js/map.js"></script> 
    
    </head>
    
    <body>
        
    <div style=" height: 100% ; width: 100% ; background-color: #000">
            <div style="height: 100% ; width:65%; background-color: #444;   float: left"  >
                <div style="height: 75%; width: 100% ;background-color: #555;">
                        <div style="height: 25%;width:100%" >
                            <h2>{{Empleador.nombreEmpresa}} </h2>
                            <h3>{{Empleador.valoracion}}</h3>
                        </div>
                        <div  style="width: 100%; height: 75%; margin: auto">
                            <h2>{{Empleador.nombre}} {{Empleador.apellidos}}</h2>
                            <h2>{{Empleador.direccion}}</h2>
                            <h2>{{Empleador.tel}}</h2>
                             <h2>{{Empleador.correo}}</h2>
                        </div>
                </div>
                   
                 
                    
                <div style="width:100%;height:25%;float:left;background-color:#777">
                    banner de noticias
                    
                </div>
                
        </div>
            <div style=" height: 100%; width: 35% ; background-color: #666; float:left">
                    {
                    <div>
                        <h1>Noticia:</h1>
                        <fieldset>
                        <input type="" name="Titulo" placeholder="Título"><br>
                        <input type="" name="Autor" placeholder="Autor"><br>
			<textarea style="width:100%; height:70%;" type="" name="Contenido" placeholder="Contenido..."></textarea><br>
                        <fieldset>
                    </div>
                </div>
                
</div>
    </body>
    
</html>