<html>
    
    <head>
        <style>
            body{
                margin:0;
                padding: 0;
            }
            
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv7YIRLr8_IXijZVNAjXUW6owOiStBi8Q&sensor=true">
        </script>
        <script src="/static/js/map.js"></script> 
      	<link rel="stylesheet" href="/static/css/style.css">
	<link href="/static/css/foundation.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Armata&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	
	<script src="/static/js/lib/jquery-1.7.1.min.js"></script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>	
	
	<link rel="stylesheet" href="/static/css/style.css">
	
	<script>
	  document.write('<script src=/static/js/vendor/'
	    + ('__proto__' in {} ? 'zepto' : 'jquery')
	    + '.js><\/script>');
	</script>
	<script src="/static/js/vendor/custom.modernizr.js" ></script>
	<script src="/static/js/vendor/zepto.js"></script>
	<script src="/static/js/vendor/jquery.slimscroll.min.js"></script>
	<script src="/static/js/foundation.min.js" type="text/javascript" ></script>
	
	<script type="text/javascript" src="/static/js/jquery.fullPage.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var pepe = $.fn.fullpage({
				slidesColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
				anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
				menu: '#menu'
			});
			
		});
	</script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv7YIRLr8_IXijZVNAjXUW6owOiStBi8Q&sensor=true">
        </script>
	
	<script src="/static/js/map.js"></script>
	
	
    </head>
    
    <body style="overflow-y: scroll ">
    	<!--<div id="top_bar" style="height: 60px">
			<div class="medio" >
				<div style="height: 50px; float:left;"  >
			    	<p style="font-size: 28px; margin-top: 12px;">InnerJob</p> <!-- -->
			    	<!--<a href="#"><img src="img/logo.png"></a>
			    	
			    </div>	
			      
				<div id="nav">   	
					<span style="display: block;">
					    <a href="/"  class="link" >Home</a>	
					    <a href="#" class="link" >Contacto</a>
					    <a href="#" class="link" >English</a>
					    <a id="loginbtn" class="link">Login</a>
					</span>		 	
				</div>
				
				<div id="label">
			    	<button type="button" class="bar_btn bh1 di">Settings</button>
				</div>
		    </div> 
	</div> -->
	
	<div id="top_bar" style="height: 60px">
			<div class="medio" >
				<div style="height: 50px; float:left;"  >
			    	<p style="font-size: 28px; margin-top: 12px;">InnerJob</p> <!-- -->
			    	<!--<a href="#"><img src="img/logo.png"></a>
			    	-->
			    </div>	
			      
				<div id="nav">   	
					<span style="display: block;">
					    
					    <a href="/"  class="link" >Home</a>	
					    <a  href=""   class="link" ><a data-reveal-id="contactForm" >Contacto</a></a>
					    <a href="" data-reveal-id="ingles"  class="link" >English</a>
					    {% if login %}
					    <a href="{{link}}" class="link">Iniciar Sesi&oacuten</a>
					    
					    {% else %}
					    <p class="link">| {{user}}</p><a href="{{link}}" class="link"> Cerrar Sesi&oacuten</a>
					    {% endif %}
					    
					    
					</span>		 	
				</div>
				
				<div id="label">
			    <button type="button" class="bar_btn bh1 di">Settings</button>
			    </div>
		    </div> 
		</div>
        
        
	<div style=" width: 100%;" >
	    <div style=" width: 900px; margin: auto;" class="box-shw"  >
		<div style=" width: 100% ; margin-top: 60px;">
			
			<div class="cont_title" style="height: 25%;width:100%" >
			    
			    <div style="width: 50%; float: left">
				<h1 style="color: #33BBBE" >{{empleador.nombre}} {{empleador.apellidos}}</h1><br>
				<h2>{{empleador.nombreEmpresa}}</h2> <p>Registrado el: </p><h2>{{empleador.registro}}  </h2>
			    </div>
			    <div style="width: 50%; float: left">
			    <a data-reveal-id="formaProyecto" href="" class="lgnbtn" style="width: 200px;" >Crear Proyecto</a>

			</div>
			    <div class="linespc-blue" style="clear: both"> </div>
			</div>
			
			
			<div class="cont_title" style="width: 100%;  margin: auto">
			
				    <div>
						<h4>Info de contacto:</h4>
						<p>{{empleador.direccion}}</p>
						<p>Tel: {{empleador.tel}}       Correo:{{empleador.correo}}</p>
						<br>
						
				    </div>
				    <div>
				    <h3>Tus proyectos:</h3>
				    {% for proyecto in proyectos %}
				    <div class="linespc"> </div> 
					    <p style=" font-weight: bold" >{{proyecto.titulo}}</p><br>
					    <p>{{proyecto.direccionATrabajar}}</p><br>
					    <p>{{proyecto.ciudad}}, {{proyecto.estado}}, {{proyecto.pais}}</p><br>
					    <p>De:{{proyecto.fechaInicio}} a {{proyecto.fechaTermino}}</p><br>
					    {% if proyecto.beneficio %}
						<p>Beneficios:</p><br>
						<p>{{proyecto.beneficios}}</p>
						{% endif %}
				    {% endfor %}
				</div>
			</div>
			</div>
	    	</div>  
		</div>
	<div id="formaProyecto" class=" xlarge reveal-modal ">
            <form method="post" action="/proyecto">
                <div >
		    <div style="width: 50%; float: left">
			<h2>Proyecto</h2><hr>
                        <label>Nombre del proyecto</label>
                        <input type="" id="nombre" name="titulo" required="true" ><br>
                        <label>Estado</label>
                        <input type="" id="" list="estados" name="estado" required="true" >
                        <label>Ciudad</label>
                        <input type="" id="" name="ciudad" required="true" ><br>
                        <label>Empleador</label>
                        <input type=""value="{{empleador.nombre}} {{empleador.apellidos}}" required="true" id="" name="empleador" ><input value="{{empleador.rfc}}" name="rfc" readonly="true"><br>
                        <label>Fecha de Inicio</label>
                        <input type="date" id="" name="fechaInicio" required="true"><br>
                        <label>Fecha de Termino</label>
                        <input type="date" id="" name="fechaTermino" required="true" ><br>
                        <label>Descripcion</label>
                        <textarea type="" id="" name="descripcion" required="true"></textarea><br>
			
			
		    </div>
		    
		    <div style="width: 50%; float: left">
			<label>Beneficios que se prestaran:</label><br>
                        <textarea name="beneficios"></textarea><br>
                        <div>
			    <div style="width: 50%; float: left">
				<label>Direccion a Laborar:</label>
				<input type="" name="direccionATrabajar" style=" width: 250px" id="position"><br>
				<input name="latlon" id="latlon"  value="latlon" readonly>
				<button type="button" class="lgnbtn button" style="width: 225px; line-height: 30px; height: 30px; font-size: 14px;" onclick="getLocation('latlon')" >Obtener localizacion</button><br>
				
			    </div>
			    <div style="width: 50%; float: left">
							    <div id="map-canvas" style="height: 100%; width: 100%"></div>

			    </div>

			</div>
			<label style="clear: both">Limite de Candidatos</label>
                        <input type="" id="" name="limiteEmpleados"  ><br>
                        <input style="float:right" type="submit" class="button lgnbtn" value="Registrar Proyecto">
                    
			
			
		    </div>
                        
                        
                   <a class="close-reveal-modal">&#215;</a> 
                </div>   
            </form>
            {% block paises %}
            {% endblock %}
	</div>
        <!-- Forms Area -->	
	<div id="ongForm" class="reveal-modal small">
            <form method="post" action="/ong">
                <div id="" class="" style="width: 800px">
                    <fieldset>
                        <legend>ONG</legend>
                        <label>Nombre:</label>
                        <input type="" id="" name="nombre" required="true"><br>
                        <label>Correo:</label>
                        <input type="email" id="" value="{% if user %}{{user.email()}}{% endif %}" name="correo" required="true"><br>
                        <label>Telefono:</label>
                        <input type="" id="" name="tel" required="true"><br>
                        <label>Cede de la ong:</label>
                        <input list="paises" type="" id="" name="cede" required="true"><br>
                        <label>Direccion</label>
                        <input type="" id="" name="direccion" required="true"><br>
                        <label>Direccion de la Pagina Web de la organizacion:</label>
                        <input type="" id="" name="url" required="true"><br>
                        <button type="submit" >Ingresar</button>
                    </fieldset>
                </div>   
            </form>
	     <a class="close-reveal-modal">&#215;</a>
        </div>
	
	<div id="empleadorForm" class="reveal-modal small" >
	  <form method="post" action="/empleador">  
	    <div  id="" class="" >
		<fieldset>
		    <legend>Empleador</legend>                    
		    <label>Nombre de Empresa</label>
		    <input type="" id="" name="nombreEmpresa" required="true"><br>
		    <label>RFC</label>
		    <input type="" id="" name="rfc" required="true"><br>
		    <label>Nombre Encargado</label>
		    <input type="" id="" name="nombre" required="true"><br>
		    <label>Apellidos</label>
		    <input type="" id="" name="apellidos" required="true"><br>
		    <label>Tel</label>
		    <input type="" id="" name="tel" required="true"><br>
		    <label>Correo Electronico</label>
		    <input type="" id="" name="correo" required="true" value="{% if user %}{{user.email()}}{% endif %}"><br>
		    <label>Direccion</label>
		    <input type="" id="" name="direccion" required="true"><br>
		    <button type="submit" >Ingresar</button>
		  </filedset>
		     <a class="close-reveal-modal">&#215;</a>

	      </div>   
	  </form>
	  
	  
	  
	</div>
	<div id="ingles" class="reveal-modal small">
	  <p>
	    Versi&oacuten a&uacuten en desarroll&oacute<br>
	    
	    Favor de estar en contacto para futuras actualizaciones.
	  </p>
	  <a class="close-reveal-modal">&#215;</a>

	</div>
	<div id="contactForm" class="reveal-modal medium" >
		<form >
		    <div >
				
		      <legend>Contacto</legend>
		      <p>Olvidaste tu clave unica?,<wbr> quieres contactarnos?<wbr> o tienes sugerencias? porfavor rellena esta forma.</p>
		      <label>Nombre Completo</label>
		      <input type="" id="" name="nombreCompleto" required="true" ><br>
		      <label>Correo (No obligatorio)</label>
		      <input type="" id="" name="correo" ><br>
		      <label>Telefono</label>
		      <input type="" id="" name="telefono" required="true" ><br>
		      <label>Comentarios</label><br>
		      <textarea  name="comments" maxlength="1000" required="true" cols="15" rows="6"></textarea><br>
		      <button type="submit" class="button " >Enviar</button> 
		    </div>   
		</form>
		<a class="close-reveal-modal">&#215;</a>
	  </div>
	
	
	<div id="map-canvas" hidden="true"></div>
	
<!-- End of forms area -->
    
        
	<script>
  
  
  function loggin( id ) {
    x = document.getElementById(id).value;
    logginButton = document.getElementById('lginButton').href = "/portal/"+x;
    
  }
  $(document).foundation();
  
</script>
    </body>
</html>