<html>
    
    <head>
        <style>
            body{
                margin:0;
                padding: 0;
            }
            
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv7YIRLr8_IXijZVNAjXUW6owOiStBi8Q&sensor=true">
        </script>
        <script src="/static/js/map.js"></script> 
    
    </head>
    
    <body onload="">
        
        <div style=" height: 100% ; width: 100% ; background-color: #444">
            <div style="height: 62% ; background-color: #555">
                <div style="height: 100%; width: 65% ;background-color: #555; float: left">
                    <div  style="width: 100%; height: 100%; float: left">
                        <div style="height: 25%">
                            <h2>{{candidato.nombre}} {{candidato.apellidos}} de: {{candidato.origen}}</h2>
                            <h3>Clave Unica: {{candidato.uniqueID}}</h3>
                        </div>
                        <div id="map-canvas" style="width: 90%; height: 70%; margin: auto"></div>
                    </div>
                                       
                </div>
                
                <div style=" overflow: auto ; height: 100%; width: 35% ; background-color: #666; float: left">
                    <button onclick="addLocation(),setMarkers(map,objects)">Mostrar Todos los Trabajos cercanos</button>
                    {% for proyecto in proyectos %}
                    <div>
                        <span onmousemove="addLocation(),setMarker( map, {{proyecto.geoLocation}} ), calcRoute({{proyecto.geoLocation}})"><h3>{{proyecto.titulo}}</h3></span>
                        Se trabajara en: {{proyecto.direccionATrabajar}}, {{ proyecto.estado}} {{proyecto.ciudad}}<br>
                        Nombre del empelador: {{proyecto.empleador}}<br>
                        El proyecto consiste en:{{ proyecto.descripcion}}<br>
                        <a href="/inscripcion?proyecto={{proyecto.key.id()}}&candidato={{candidato.uniqueID}}">Enrolarse</a>
                    </div>
                    {% endfor %}
                    
                    
                </div>
                
            </div>
            <div style="height: 38%; background-color: #666">
                <div style="height: 100%; width: 65% ;background-color: #666; float: left">
                    
                    
                </div>
                
                <div style=" overflow: auto; height: 100%; width: 35% ; background-color: #555; float: left">
                
                   {% for ong in ongs %}
                    <div>
                        <h3>{{ong.nombre}}</h3>
                        <p>{{ong.telefono}} - {{ong.cede}}</p><br>
                        <p>{{ong.direccion}} - <a href="http://{{ong.webUrl}}">{{ong.webUrl}}</a></p>
                            
                    </div>
                   {% endfor %}
                    
                </div>
                
                
            </div>
            
            
            
            
        </div>
        <textarea id ="proyectos" style=" display: none" >{% for proyecto in proyectos %}[{{proyecto.titulo}},{{proyecto.geoLocation}}]:{% endfor %}</textarea>
        
    </body>
    
</html>