<html>
    
    <head>
        <style>
            body{
                margin:0;
                padding: 0;
            }
            
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv7YIRLr8_IXijZVNAjXUW6owOiStBi8Q&sensor=true">
        </script>
        <script src="/static/js/map.js"></script> 
    
    </head>
    
    <body>
        
	<div style=" height: 100% ; width: 100% ">
	    <div style="height: 100% ; width: 900px; margin: auto; "  >
		<div style=" width: 100% ;background-color: #555;">
			
			<div style="height: 25%;width:100%" >
			    
			    <h2>{{empleador.nombreEmpresa}} <p>Registrado el: {{empleador.registro}}</p> </h2>
			<button href="">Crear Proyecto</button><hr>
			</div>
			<div  style="width: 100%; height: 75%; margin: auto">
			    <h2></h2>
			    <h2>{{empleador.nombre}} {{empleador.apellidos}}</h2>
			    <div>
				<h3>Info de contacto:</h3>
				<p>{{empleador.direccion}}</p>
				<p>{{empleador.tel}}</p>
				<p>{{empleador.correo}}</p>
			    </div>
			    <div>

			    {% for proyecto in proyectos %}<br>
			    <hr>
			    {{proyecto.titulo}}<br>
			    {{proyecto.direccionATrabajar}}<br>
			    {{proyecto.ciudad}}<br>
			    <p>candidatos:</p>
				{% for candidato in proyecto.candidatos %}
				    
				{% endfor %}
				
			    {% endfor %}
			</div>
			
			</div>
			
		</div>
		   
		 
		    
		    
	    </div>
		
		    
	</div>
    </body>
    
</html>