<html>
    
    <head>
       <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv7YIRLr8_IXijZVNAjXUW6owOiStBi8Q&sensor=true">
        </script>
        <script src="/static/js/map.js"></script> 
     
        
    </head>
    
    <body>
        
        <div style="width: 90px; margin: auto">
            <form method="post" action="/proyecto">
                <div id="" class="" style="width: 800px">
                    <fieldset>
                        <legend>Proyecto</legend>
                        <label>Nombre del proyecto</label>
                        <input type="" id="nombre" name="titulo" ><br>
                        <label>Estado</label>
                        <input type="" id="" list="estados" name="estado" ><br>
                        <label>Ciudad</label>
                        <input type="" id="" name="ciudad" ><br>
                        <label>Empleador</label>
                        <input type=""value="{{empleador.nombre}} {{empleador.apellidos}}" id="" name="empleador" ><input value="{{empleador.rfc}}" name="rfc" readonly="true"><br>
                        <label>Fecha de Inicio</label>
                        <input type="date" id="" name="fechaInicio" ><br>
                        <label>Fecha de Termino</label>
                        <input type="date" id="" name="fechaTermino" ><br>
                        <label>Descripcion</label>
                        <input type="" id="" name="descripcion"><br>
                        <label>Beneficios que se prestaran:</label><br>
                        <textarea name="beneficios"></textarea><br>
                        <label>Limite de posibles empleados</label>
                        <input type="" id="" name="limiteEmpleados"><br>
                        <label>Direccion a Laborar:</label>
                        <input type="text" name="direccionATrabajar" style=" width: 250px" id="position"><br>
                        <input name="latlon" id="latlon"  value="latlon" readonly>
                        <button type="button" onclick="getLocation('latlon')" >Obtener localizacion</button><br>
                        <label>Candidatos</label>
                        <input type="text" id="" name="candidatos"  ><br>
                        <input type="submit" value="Ingresar">
                    </fieldset>
                    
                </div>   
            </form>
            {% block paises %}
            {% endblock %}
        
        <div id="map-canvas" style="height: 300px; width: 300px"></div>
    
        </div>
    </body>
    
</html>